@media screen  and (max-width: 600px) {

    .common-para {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
    
    }

/* navbar styles */
.header-container {
    margin-top: 50px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
}

.nav-left {
    display: flex;
    align-items: start;
    gap: 16px;
    font-family: Mulish;
    font-size: 21px;
    font-weight: 800;
   
}
.nav-right{
    
}
.nav-right >.menuebar1{
    display: none;
    
}
.nav-right>.menuebar2
{
    display: flex;
    margin-left: 100px;
}

.orange {
    color: #FF5400;
}


/* .nav-container a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    padding-right: 40px;
} */

















    /* banner styles */
    .banner-container {
        margin-top: 50px;
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("/Images/Group\ 13\ \(1\)\ \(1\).png");
        border-radius: 16px;
        object-fit: cover;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 78%;
        padding-bottom: 100px;
    
    }
    
    .banner-container h1 {
        color: #FFF;
        font-family: Mulish;
        font-size: 30px;
        font-weight: 800;
        padding-top: 55px;
    
    }
    
    .banner-container p {
        color: #FFF;
        width: 300px;
    }
    

    .banner-input {
        width: 300px;
        height: 180px;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
       
    }
    
    .banner-input input {
        width: 200px;
        height: 30px;
        border-radius: 8px;
        background: #FFF;
        border: none;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        margin: 0px;
    }
    
    .banner-input .common-btn {
        width: 210px;
        height: 30px;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: #FFF;
        margin: auto;
    
    
    }


    /* main styles----------------------------- */
/* popular-tour */
.popular-tour {
    display: flex;
    margin-top: 100px;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.popular-tour-left li {
    width: 80%;
    list-style-type: disc;
    text-align: left;
    color: rgba(19, 19, 24, 0.70);
    padding-top: 16px;
}

.popular-tour-left h1 {
    color: #131318;

    text-align: left;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.popular-tour-left .common-para {
    text-align: left;
}

.popular-tour-right img{
    width: 390px;
    height: 280px;
   
}


/* choose-destination */

.choose-destination-img {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,1fr);
    gap: 10px;

}

.img-5 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
   
}

.img-6 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}

.img-7 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
}

.img-8 {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
   
}

.img-9 {
    grid-column: 1/span 1;
    grid-row: 5/span 1;
   
}

.img-10 {
    grid-column: 1/span 1;
    grid-row: 6/span 1;
    
}

.img-11 {
    grid-column: 1/span 1;
    grid-row: 7/span 1;
} 
/* why-choose-us */
.card-container-1 {
    display: flex;
 flex-direction: column;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;


}

.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding-left: 32px;
    padding-top: 32px;
    margin-top: 24px;
    width: 92%;
}

/* deals-discount */
.deals-discounts {
    width: 78%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.part-1 {
    background-image: url("/Images/Group\ 39.png");
    background-repeat: no-repeat;
    display: block;
    height: 500px;
    
}

.sticky-deals {
   
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 70%;
}

.sticky-deals  img { 
    width:20px;
    height: 20px;
    gap: 2px;
}

.sticky-deals .title {
    color: #131318;
    text-align: center;
    font-size: 30px;
    font-weight: 800px;
    padding-top: 2px;

}

.sticky-deals .common-para {
    text-align: center;
    font-size: 13px;
}

.sticky-deals .price {
    color: #FF5400;
    font-size: 16px;
    font-weight: 800px;
}

.part-2 {
    background-image: url("/Images/Group\ 40.png");
    background-repeat: no-repeat;
    display: block;
    height: 500px;
    margin-top: 25px;
    
}

.part-2 .sticky-deals {
   
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 70%;
}


.part-3 {
    background-image: url("/Images/Group\ 39.png");
    background-repeat: no-repeat;
    display: block;
    height: 500px;
    margin-top: 25px;
    
}

.part-2 .sticky-deals {
   
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 70%;
}




/* perfect-place */
.perfect-place {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 78%;
    margin-bottom: 100px;
    text-align: left;
}
.perfect-place-left li {
    width: 80%;
    list-style-type: disc;
    text-align: start;
    color: rgba(19, 19, 24, 0.70);
    padding-top: 16px;
}

.perfect-place-left h1 {
    color: #131318;

    text-align: left;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.perfect-place-left .common-para {
    text-align: left;
}

.perfect-place-right  iframe{
    border-radius: 16px;
    width: 390px;
    height: 300px;
}




/* newsletter section */
.newsletter{
    width: 78%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    
}
.newsletter-left{
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 320px;
    height: 320px;
    padding: 35px;
    
    
}

.newsletter-left .newsletter-input input{
    width: 320px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
margin-top: 16px;

}
.newsletter-left .common-btn{
    width: 320px;
    height: 52px;
    border-radius: 8px;
}

.newsletter-right .badge{
    position: relative;
    width: 150px;
height: 50px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
top:-90px;
left: 100px;
}


.newsletter-right img{
    width: 390px;
    height: 280px;
    
}
.newsletter-right .badge h2{
    color: #FFF;
text-align: center;
font-size: 10px;
font-weight: 400;
}


.newsletter-right .badge h1{
color: #FFF;
font-size: 15px;
font-weight: 800;
line-height: normal;
text-align: center;
}


/* footer section */
.footer-container{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background:  rgba(19, 19, 24, 0.05);  
    width: 390px;
    height: 350px;

}


















}