@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

/* shared styles */

* {
    font-family: 'Mulish', sans-serif;
    margin: 0 auto;
    padding: 0;

}

.common-para {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;

}

/* header styles start */

/* navbar styles */
.header-container {
    margin-top: 50px;
}

.nav-container nav {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.orange {
    color: #FF5400;
}

.nav-container a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    padding-right: 40px;
}

/* banner styles */
.banner-container {
    margin-top: 50px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    border-radius: 16px;
    background-repeat: no-repeat;
    text-align: center;
    width: 78%;
}

.banner-container h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    padding-top: 200px;

}

.banner-container p{
    width:676px;
}
.banner-container .banner-input{
    border-color: #FF5400;
}